[user]
	name = Chris McBride
	email = chris@vistarmedia.com

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
[branch]
	autosetupmerge = true
[push]
	default = upstream
[alias]
	meld = !/usr/bin/git-meld.pl
