[user]
	name = Chris McBride
	email = chris@vistarmedia.com

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
[branch]
	autosetupmerge = true
[push]
	default = upstream
[alias]
	meld = !/usr/bin/git-meld.pl
[giggle]
	main-window-maximized = false
	main-window-geometry = 1918x1037+1920+15
	history-view-vpane-position = 667
	main-window-view = HistoryView
